{% load staticfiles %}
<html>
<head>

	<title>{% block head_title %}Stronka jm{% endblock head_title %}</title>
	<link rel="stylesheet" href='{% static "/css/base.css" %}' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

{% block head %} 
{% endblock head %}
</head>	
<body>
	<div id="fb-root"></div>
	<script>
	  (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.12';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	</script>
	<div id="omnietop"></div>
	<div class="scroll goup"><i class="fas fa-angle-up fa-2x" id="go-up"></i></div>

	{% block content %}	
	{% endblock content %}	

	
	<section class="footer" id="kontakt">
		<div class="bar ftr"></div>
		<div class="container-4">
			<div class="info">
				<a class="logo-ft" href="/">Jowita Michalska</a>
				<!-- <i class="far fa-comment-alt fa-3x logo-ft"></i> -->
				<!-- <img src='{% static "/img/logo-light.png" %}' alt="JML logo" class="logo-ft"> -->
<!-- 				<p class="ft-name">Jowita Michalska</p> -->
			</div>
			<div class="contacts">
				<div class="phone con-grid">
					<i class="fas fa-phone fa-3x ico"></i> <p class="cont-cont">+48 555 444 777</p>
				</div>
				<div class="facebook con-grid">
					<i class="fab fa-facebook-square fa-3x ico"></i> <p class="cont-cont">jowitamichalskalogopedia</p>
				</div>
				<div class="mail con-grid">
					<i class="fas fa-envelope fa-3x ico"></i> <p class="cont-cont">jowita.michalska@gmail.com</p>
				</div>
			</div>
		</div>
		<div class="blackbar"></div>
	</section>


<script>
	var scrollLink = $('.scroll');
	$(".goup").click(function() {
    $('html, body').animate({
        scrollTop: $("#very-top").offset().top
    }, 700);
	});

	// Smooth scrolling
	scrollLink.click(function(e) {
	e.preventDefault();
	$('body,html').animate({
	  scrollTop: $(this.hash).offset().top
	}, 700 );
	});	

	$(window).scroll(function(){
		const $heroSection = $('#anch');
		const $heroOffset = $heroSection.offset().top;

		if($(this).scrollTop()>=$heroOffset){
			$('.goup').slideDown();
    	} else {
    		$('.goup').slideUp();
    	}

	});
			
	$(window).scroll(function(){
		const scroll = $(this).scrollTop();
		console.log(scroll);
		var $header = $('header');
		var $menu = $('.hamburg');

		if($(this).width() < 650){
			if($(this).scrollTop()>=58){
				// $('header').css({"position": "fixed", "left": "auto", "width": "auto", "border-radius": "0px 0px 0px 25px", "height": "auto"});\
				$header.addClass('fixed');
				$header.removeClass('absolute');
				$('nav').css({"display": "none"});
				// $('.logo').css({"display": "none"});
				$menu.addClass('visible');
				$(".hamburg").removeClass("hampad");
				$(".omniemenu").css({"display": "inline"})

	    	} else {
	    		$header.removeClass('fixed');
	    		$header.addClass('absolute');
	    		$('nav').css({"display": "grid"});
	    		// $('.logo').css({"display": "flex"});
	    		// $('.hamburg').css({"display": "none", "padding": "0px"});
	    		$menu.removeClass('visible');
	    		$("ul").removeClass('dropdown');
	    		$(".hamburg").removeClass("hampad");
	    		$("nav a, nav li").removeClass("widemenu");
	    		$(".omniemenu").css({"display": "none"})
	    	}

	    } else {
	    		$header.removeClass('fixed');
	    		$header.addClass('absolute');
	    		$('nav').css({"display": "grid"});
	    		// $('.logo').css({"display": "flex"});
	    		// $('.hamburg').css({"display": "none", "padding": "0px"});
	    		$menu.removeClass('visible');
	    		$("ul").removeClass('dropdown');
	    		$(".hamburg").removeClass("hampad");
	    		$("nav a, nav li").removeClass("widemenu");
	    		$(".omniemenu").css({"display": "inline"})
	    	}

	});

	$(document).ready(function() {
	    if($(window).width() < 650){
	    	$(".omniemenu").css({"display": "none"});
	    }
	});


	$("#headero").click(function(){
		if($(window).scrollTop()>=58){
			$("ul").addClass('dropdown');
	    	$("nav").slideToggle();
	    	$(".hamburg").toggleClass("hampad");
	    	$("nav a, nav li").addClass("widemenu");
	    }
	});
	
    

</script>

</body>


</html>