{% load staticfiles %}

<head>

	<title>{% block head_title %}Stronka jm{% endblock head_title %}</title>
	<link rel="stylesheet" href='{% static "/css/base.css" %}' />
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>	


{% block content %}	

<section class="delete-art"> 
	<h1 class="del-t">Potwierdź usunięcie artykułu</h1>

		<form method="POST"> {% csrf_token %}
		<p class="del-question">Czy na pewno chcesz usunąć:</p> 
		<p class="del-title"><b>"{{obj.title}}"</b> ?</p>
		<br/>
		<p>Artykuł zostanie usunięty z bazy danych na stałe.</p>
	<div class="del-buttons">	
		<input type="submit" value="Usuń" class="delete-button">
		</form>
		<form action="{{ obj.get_absolute_url}}">
		<button class="del-cancel"> Anuluj</button>
		</form>
	</div>

</section>


{% endblock content %}