{% extends "base.html" %}
{% block head_title %}Stronka jm | {{ post.title }}{% endblock head_title %}

{% block content %}	

<section class="home-hero subsite" id="very-top">
	<header id="headero">
		<a class="logo" href="/">Jowita Michalska</a>
		<nav>
			<ul>
				<li><a href="../#omnie">O mnie</a></li>
				<li><a href="../#faq">FAQ</a></li>
				<li><a href="../#artykuly">Artykuły</a></li>
				<li><a class="scroll" href="#kontakt">Kontakt</a></li>
			</ul>
		</nav>
	</header>	
</section>

<section class="article-det" id="anch">
	<div class="bar artykul-det">
		{% if request.user.is_authenticated %}
		<div class="shrinkbut">
			<div class="blockbutt">	
				<div class="afterlogbut det-del">Usuń artykuł</div>
				<div class="afterlogbut det-edit">Edytuj artykuł</div>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="artykul-content">

		<h1 class="det-title">{{post.title}}</h1>
  <h3 class="det-timestamp">{{post.timestamp}}</h3>
  <!-- {{post.timestamp|timesince}} -->
  {{ post.content|safe|linebreaks }}
  
<div class="fb-comments" data-href="{{ request.build_absolute_uri}}" data-numposts="5" data-width="100%"></div>
	</div>
  


</section>

<script>
$( document ).ready(function() {
    $("img").css({"width": "auto", "height": "auto"});
    $('.det-del').click(function(){
   window.location.href='{{post.get_absolute_url}}delete';
	})
	$('.det-edit').click(function(){
   window.location.href='{{post.get_absolute_url}}edit';
	})
});

</script>
{% endblock content %}
